<div id="<%= dom_id reply %>">
  <p>
    <strong>Has been edited:</strong>
    <%= reply.has_been_edited %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= reply.content %>
  </p>

  <p>
    <strong>Upvote count:</strong>
    <%= reply.upvote_count %>
  </p>

  <p>
    <strong>Downvote count:</strong>
    <%= reply.downvote_count %>
  </p>

</div>
