<div id="<%= dom_id comment %>">
  <p>
    <strong>Has been edited:</strong>
    <%= comment.has_been_edited %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>Upvote count:</strong>
    <%= comment.upvote_count %>
  </p>

  <p>
    <strong>Downvote count:</strong>
    <%= comment.downvote_count %>
  </p>

</div>
