<a href="<%= post_path(post) %>">
    <div id="<%= dom_id post %>">
        <h2> <%= post.title %> </h2>
        <p> <%= post.subtitle %> </p>
        <p> <%= post.updated_at %> </p>
        <p> <%= post.blog_type_id %> </p>
        <p> <%= post.blog_status_id %> </p>
        <p> EDIT <p>
        <p> Delete <p>
    </div>
</a>