<div id="<%= dom_id post %>">
  
  <div id="Post_Heading">
    <h1> <%= post.title %> </h1>
    <h2> <%= post.subtitle %> </h2>
    <p> <%= post.blog_type_id %> </p>
    <p> <%= post.updated_at %> </p>
    <p> <%= post.created_at %> </p>
  <div>

  <div id="Post_Sidbar">
    <p>Sidbar</p>
  </div>
  
  <div id="Post_Video">
    <p>Video</p>
  </div>

  <div id="Post_Content">
    <%= post.content %>
  </div>
</div>
