<%= form_with(model: reply_reaction) do |form| %>
  <% if reply_reaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reply_reaction.errors.count, "error") %> prohibited this reply_reaction from being saved:</h2>

      <ul>
        <% reply_reaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_upvoted, style: "display: block" %>
    <%= form.check_box :user_upvoted %>
  </div>

  <div>
    <%= form.label :user_downvoted, style: "display: block" %>
    <%= form.check_box :user_downvoted %>
  </div>

  <div>
    <%= form.label :user_reported, style: "display: block" %>
    <%= form.check_box :user_reported %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
